
/* .box{
  position: absolute;
  width: 1000px;
  height: 500px;
  border: 10px solid #181818;
  border-radius: 20px;
  border-radius: 20px;
  border-radius: 20px;
  text-align: center;
  margin-left: 234px;
  margin-top: 55px;
  
} */
.workcontainer{
  color: white;
}

.topic{
  margin-left: 245px;
}

.note{
  margin-left: 211px;
  /* word-wrap: inherit; */
  text-align: center;
  width: 70%;
}

#test{
  display: none;
}

.project{
  width: 70%;
  text-align: center;
  margin-left: 211px;
}

.project iframe{
  width: 1000px;
  height: 500px;
}
.project img{
  width: 1000px;
  height: 700px;
}
 
@media screen and (max-width: 768px){

  .project{
    width: 70%;
    text-align: center;
    margin-left: 55px;
  }

  .project iframe{
    width: 300px;
  }
  .project img{
    width: 300px;
    height: 200px;
  }
   
}