
.workcontainer{
  color: white;
}

.project1{
  width: 70%;
  text-align: center;
  margin-left: 150px;
}

.project2{
  width: 70%;
  text-align: center;
  margin-left: 150px;
}

.project3{
  width: 70%;
  text-align: center;
  margin-left: 150px;
}
