.headercontainer{
    color: white;
}
.nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
    align-items: left;
    
}

.listitem a{
    padding-top: 20px;
    text-decoration: none;
    color: white;
}
